---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";


.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: fit-content;
  margin: 0 auto;
}

.nav-logo-img {
  height: 150px;
  width: auto;
  display: block;
}